<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div>    
            <label for="password">Password</label>
            <input type="password" name="password" id="password">       
        </div>
    <input type="submit" value="Register">
    </form>
    <div>
        <a href="http://localhost:3000/login" ><button>Login</button></a>
    </div>
    <div>
        <a href="http://localhost:3000/" ><button>Back</button></a>
    </div>
</body>
</html>

